.logo {
    color: var(--main-light-color);
}

.logo--big {
    margin-top: 10em;
}

.logo__text--first-line {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    letter-spacing: .35rem;
    line-height: 3.3rem;
}

.logo__text--first-line::first-letter {
    font-size: 4rem;
}

.logo__text--second-line {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: .2rem;
}