/* ------------------------------- 1. Global Styles -------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Playfair+Display:wght@700;800&display=swap');

/* --------------- 1.1 CSS reset ------------------- */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

/* --------------- 1.2 Colors ------------------- */

:root {
  --main-focus-color: #084D5C;
  --main-light-color: #F5F4F5;
  --main-gradient-color-light: 152,223,207,1;
  --main-gradient-color-dark: 0,69,108,1;
  --main-shadow-color-dark: hsl(0, 0%, 0%, 25%);
  --css-art-lighter: #80D7CD;
  --css-art-light: #5CCEC7;
  --css-art-dark: #2B7687;
  --css-art-darker: #084D5C;;
}

/* ------------------------------- 2. Typography ----------------------------------- */

:root {
  font-size: 0.75em;
}

@media screen and (min-width: 31em) {
  :root {
    font-size: 0.85em;
  }
}

@media screen and (min-width: 85em) {
  :root {
    font-size: 1em;
  }
}

body {
  font-family: 'Lato', sans-serif;
  color: var(--main-focus-color);
}

h1, h2 {
  text-align: left;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  letter-spacing: .15rem;
}

h2 {
  font-weight: 300;
  font-size: 1.1rem;
}

a {
  color: var(--main-focus-color);
}

/* ------------------------------- 3. Layout --------------------------------------- */

.outer-container__reusable {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, rgba(var(--main-gradient-color-light)) 0%, rgba(var(--main-gradient-color-dark)) 95%);
}

.inner-container__reusable {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem 0 0 0;
  width: 100vw;
  height: 100vh;
  overflow : hidden;
}

/* ------------------------------- 4. Media queries -------------------------------- */

@media screen and (min-width: 80em) {
  .inner-container__reusable {
    width: 40em;
  }
}
/* --------------- 4.2 Fonts ------------------- */


