.mountains--container {
    position: absolute;
    border: 1px solid green;
    height: 100%;
    width: 100%;
    /*overflow: hidden;*/
    overflow-y: hidden;
    /*width: 100%;*/
    /*height: 30vh;*/
 }

.mountain {
    position: relative;
    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
    border-radius: 0.75em;
    transform: rotate(135deg);
    z-index: 0;
}

.mountain-1 {
    width: 40em;
    height: 40em;
    background-color: #80D7CD;
    left: -16em;
    top: 34em;
}

.mountain-2 {
    background-color: #5CCEC7;
    width: 70em;
    height: 70em;
    top: 1.5em;
    left: -12em;
}

.mountain-3 {
    background-color: #2B7687;
    width: 70em;
    height: 70em;
    top: -67em;
}

.mountain-4 {
    background-color: var(--main-focus-color);
    width: 70em;
    height: 70em;
    top: -127em;
    left: -30em;
}